html{
  scroll-behavior: smooth;
}
body{
  margin: 0;
  padding: 0;
}
.navbar{
  position:fixed;
  z-index:3;
  justify-content: space-between;
  flex-wrap: wrap;
  width:100%;
  transition: top 0.5s;
}

.navbar ul a{
  display:flexbox;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}
.navbar ul a:hover{
  /* background-color:rgba(68, 64, 64, 0.234); */
  background-color: rgba(45, 62, 85, 0.371);
  color: black;
}


#cover{
  min-height: 100vh;
  width: 100%;
  background: url(lib/cover.jpeg);
  background-position: center;
  background-size:cover;
  margin:0;
}

#about{
  min-height: 100vh;
  width: 100%;
  background: url(lib/Chip.jpeg);
  background-position: center;
  background-size:cover;
  justify-content:center
}

.btn{
  transform: scale(1);
  transition: all .52s ease-out;
}
.btn:hover{
  transform: scale(1.08);
  transition: all .52s ease
}
.bg-grad{
  background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.12));
}

.centered {
    margin:auto;
}

* {
  box-sizing: border-box;
}


/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.6); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}


.bg2{
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  position: relative;
}

.bg-image-quote {
  /* The image used*/
  background: url(lib/LPT.jpeg);

  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-size: cover;
  width: 100%;

}

.MMD
{
  font-family: 'Comfortaa', cursive;  
}
.ORB{
  font-family: 'Orbitron', sans-serif;
}
.ORB h4 {
  font-family: 'Orbitron', sans-serif;
  font-weight: 500;
  margin-bottom:2rem;
  letter-spacing: 0.5rem;
}


.svgwhite:hover{
  fill:aliceblue;
}

.softback{
  background-image: url('https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1772&q=80');
  background-size: cover;
}

.contactback{
  background-image: url('https://images.pexels.com/photos/2931251/pexels-photo-2931251.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  background-size: cover;
}

img:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.card:hover{
  color:aqua;
  transform: scale(1.08);
  transition: all .52s ease
}